  <div>
    <h1><%= @food.name %></h1>
    <div>
      <h2>Measurement:</h2>
      <p><%= @food.measurement_unit %></p>
    </div>
    <div>
      <h2>Price in $:</h2>
      <p><%= @food.price %></p>
    </div>
    <div>
      <h2>Quantity:</h2>
      <p><%= @food.quantity %></p>
    </div>
  </div>
