<h1>List of Users</h1>
<% @users.each do |user| %>
  <li>
    <%= user.name %>
  </li>
<% end %> 
<% @recipes.each do |recipe| %>
  <li>
    <%= recipe.name%>
  </li>
<% end %> 
<% @foods.each do |food| %>
  <li>
    <%= food.name %>
  </li>
<% end %> 
