  <% if notice.present? %>
    <p><%= notice %></p>
  <% end %>
  <h1>Recipes</h1>
  <div>
    <% if @recipes.any? %>
      <% @recipes.each do |recipe| %>
        <%= render recipe %>
      <% end %>
    <% else %>
      <p>No recipes in database.</p>
    <% end %>
  </div>
  <%= link_to "Add New recipe", new_recipe_path %>
