<% if @public.length > 0 %>
<div>
  <p>Public Recipes</p>
</div>
  <table>
    <tr>
      <th>Recipe Name</th>
      <th>By</th>
      <th>Total Food Items</th>
      <th>Total Price</th>
    </tr>
    <% @public.each do |recipe| %>
      <tr>
        <td>
          <%= link_to recipe.name, recipe_path(recipe) %>
        </td>
        <td>by: <%= recipe.user.name %></td>
        <td><%= recipe.recipe_foods.length %></td>
        <% total_price = recipe.recipe_foods.sum { |food| food.food.price } %>
        <td>$<%= total_price %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <h2>No Public Recipes in database</h2>
<% end %>
